{% extends 'base.html.twig' %}

{% block title %}Modification d'un auteur{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-3">Modification d'un auteur</h1>

            {# {{ dump(app) }} #}

            {{ form_start(authorForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {{ form_row(authorForm.lastName) }}
                    {{ form_row(authorForm.firstName) }}
                    {# {{ form_row(authorForm.dateOfBirth|date("d/m/Y")) }} #}
                    {# {{ form_row(authorForm.dateOfBirth) }} #}
                    {{ form_row(authorForm.nativeCountry, { 'label': 'Pays d\'origine' }) }}
                    {{ form_row(authorForm.biography) }}
                    {{ form_row(authorForm.dateOfBirth) }}
                    

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(authorForm) }}        
        </div>
    </div>
</section>
{% endblock %}
