{% extends 'base.html.twig' %}

{% block title %}Modification d'un abonné{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-3">Modification d'un abonné</h1>

            {# {{ dump(app) }} #}

            {{ form_start(registeredUserForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {{ form_row(registeredUserForm.lastName) }}
                    {{ form_row(registeredUserForm.firstName) }}
                    {{ form_row(registeredUserForm.address) }}
                    {{ form_row(registeredUserForm.zipcode) }}
                    {{ form_row(registeredUserForm.city) }}
                    {{ form_row(registeredUserForm.phone) }}
                    {{ form_row(registeredUserForm.email) }}
                    {# {{ form_row(authorForm.dateOfBirth|date("d/m/Y")) }} #}
                    {# {{ form_row(authorForm.dateOfBirth) }} #}
                    {# {{ form_row(registeredUserForm.nativeCountry, { 'label': 'Pays d\'origine' }) }} #}

                    

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(registeredUserForm) }}        
        </div>
    </div>
</section>
{% endblock %}
