{% extends 'base.html.twig' %}

{% block title %}Modification d'un abonné{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-3">Modification d'un abonné</h1>

            {# {{ dump(app) }} #}

            {{ form_start(registeredUserForm) }}

                {{ form_row(registeredUserForm.lastName) }}
                {{ form_row(registeredUserForm.firstName) }}
                {{ form_row(registeredUserForm.address) }}
                {{ form_row(registeredUserForm.zipcode) }}
                {{ form_row(registeredUserForm.city) }}
                {{ form_row(registeredUserForm.phone) }}
                {{ form_row(registeredUserForm.email) }}
                {{ form_row(registeredUserForm.amount) }}
                {{ form_row(registeredUserForm.subscriptionStartDate) }}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(registeredUserForm) }}        
        </div>
    </div>
</section>
{% endblock %}
