{% extends 'base.html.twig' %}

{% block title %}Tous les abonnés{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <main class="border border-light bg-white p-2">
                <h3>Liste des abonnés</h3> 
                <div class="ml-auto p-2">
                    {# getTotalItemCount propre à knp_paginator #}
                    <div>
                        Nb d'abonnés total : {{ registeredUsers.getTotalItemCount }}
                    </div>
                    <div>
                        {{ form_start(form) }}
                        <div class="d-flex">
                            {{ form_row(form.words) }}
                            {{ form_row(form.Rechercher) }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
                <div class="mb-3">
                    <a href="{{ path('registeredUser.addRegisteredUser') }}" class="btn btn-outline-primary mx-2">Ajouter un abonné</a>
                </div>

                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Numéro d'abonnement</th>
                            <th>Date de fin d'abonnement</th>
                            <th>Abonnement</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for registeredUser in registeredUsers %}
                            <tr class="table-info">
                                <td>{{ registeredUser.lastName }}</td>
                                <td>{{ registeredUser.firstName }}</td>
                                <td>{{ registeredUser.id }}</td>
                                <td>{{ registeredUser.subscriptionEndDate|date("d/m/Y") }}</td>
                                <td>{% if registeredUser.subscriptionEndDate > todaysDate %}
                                    <span class="badge bg-success">Valide</span>
                                    {% else %}
                                    <span class="badge bg-danger">Expiré</span>
                                    {% endif %} 
                                </td>
                                <td>
                                    <a href="{{ path('registeredUser.edit', {id: registeredUser.id}) }}" class="btn btn-info btn-sm">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('registeredUser.delete', {id: registeredUser.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous réellement supprimer cet abonné ?')">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation d-flex justify-content-center">
                    {{ knp_pagination_render(registeredUsers) }}
                </div>
            </main>
        </div>
    </div>
{% endblock %}
