{% extends "base.html.twig" %}

{% block title %}La Bibliothèque - Accueil{% endblock %}

{% block header %}
  <div class="fixed-top">
    {% include "partials/_header_home.html.twig" %}
  </div>
{% endblock %}

{% block body %}
  <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
  
{# <div class="container mt-4"> #}

  {% block flash %}
    {% for message in app.flashes('success') %}
        <div class="fixed-bottom alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="fixed-bottom alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}
  {% endblock %}

  <!-- Hero Start -->
  <section class="hero">

    <div class="hero__overlay"></div>

    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" loading="lazy" class="hero__video">
      <source src="images/pexels-books.mp4" type="video/mp4">
    </video>
      
    <div class="hero__content h-100 container-custom position-relative">
      <div class="d-flex h-100 align-items-center hero__content-width">
        <div class="text-white">
          <h1 class="hero__heading fw-bold mb-4">Bienvenue sur la Bibliothèque.</h1>
          <p class="lead mb-4">Gestion des livres et des emprunts.</p>
          {% if app.user %}
          <a href="{{ path('app_logout') }}" class="mt-2 btn btn-lg btn-outline-light" role="button">Déconnexion</a>
          {% else %}
          <a href="{{ path('app_login') }}" class="mt-2 btn btn-lg btn-outline-light" role="button">Connexion</a>
          <a href="{{ path('app_registration') }}" class="mt-2 btn btn-lg btn-outline-light" role="button">Inscription</a>
          {% endif %}
        </div>
      </div>
    </div>
    <a href="https://github.com/CodePit84" class="hero__scroll-btn">
      CAILLAT Peter © {{ 'now'|date ('Y') }}<i class="bi bi-arrow-down-short"></i>
    </a>

  </section>
  <!-- Hero End -->
</div>



{# <div class="d-flex"> #}

{# <div class="justify-content-center fixed-bottom row align-items-end">
<div class="sticky-md-bottom">
    <footer class="text-center text-lg-start bg-light text-muted mt-4">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © {{ 'now'|date ('Y') }} Copyright:
            <a class="text-reset fw-bold" href="https://github.com/CodePit84">Peter Caillat</a>
        </div>
    </footer>
</div>
</div> #}
{% endblock %}