{% extends "base.html.twig" %}

{% block title %}La Bibliothèque - Accueil{% endblock %}

{% block body %}

<div class="container mt-4">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}

    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur La Bibliothèque !</h1>
        <p class="lead">Gestion des livres et des emprunts.</p>
    
        {% if app.user %}
        <hr class="my-4">
        <p>Accédez aux paramètres de votre compte.</p>
        {# <a class="btn btn-primary btn-lg" href="{{ path('user.edit', {id : app.user.id}) }}">Modifier mes informations</a> #}
        {# <a class="btn btn-success btn-lg" href="{{ path('cv.index', {id : app.user.id}) }}">Mon CV</a> #}
        <a class="btn btn-success btn-lg" href="{{ path('app_logout') }}" role="button">Déconnexion</a>
        {% else %}
        <hr class="my-4">
        <p>Pour commencer, rendez-vous sur la page d'inscription ou connectez-vous.</p>
        <a class="btn btn-primary btn-lg" href="{{ path('app_registration') }}" role="button">Inscription</a>
        <a class="btn btn-success btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
        {% endif %}
    </div>
</div>



{# <div class="d-flex"> #}
<div class="justify-content-center fixed-bottom row align-items-end">
<div class="sticky-md-bottom">
    <footer class="text-center text-lg-start bg-light text-muted mt-4">
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © {{ 'now'|date ('Y') }} Copyright:
            <a class="text-reset fw-bold" href="https://www.le-collectif.io">Le-Collectif</a>
        </div>
    </footer>
</div>
</div>
{% endblock %}