<nav class="navbar navbar-expand-lg navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home.index') }}">Bibliothèque</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				{% if app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('book.index') }}">Livres
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('author.index') }}">Auteurs
					</a>
				</li>
					{% if 'ROLE_ADMIN' in app.user.roles %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('copy.index') }}">Exemplaires
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('borrow.index') }}">Emprunts
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('gender.index') }}">Genre
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('country.index') }}">Pays d'origine
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('registeredUser.index') }}">Abonnés
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('searchGoogle') }}">Rechercher sur Google Books
						</a>
					</li>
					{% endif %}
				{% endif %}
			</ul>
			<div class="d-flex">
				<ul class="navbar-nav me-auto">
					{% if app.user %}
						<li class="nav-item dropdown" style="margin-right: 8rem;">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.lastName }} {{ app.user.firstName }}</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="{{ path('edit.user', {id : app.user.id}) }}">Modifier mes informations</a>
								<a class="dropdown-item" href="{{ path('edit.password.user', {id : app.user.id}) }}">Modifier mon mot de passe</a>
								<div class="dropdown-divider"></div>
								{% if 'ROLE_ADMIN' in app.user.roles %}
									<a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
									<div class="dropdown-divider"></div>
								{% endif %}
								<a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a>
							</div>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_registration') }}">Inscription
							</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</nav>
