{% extends 'base.html.twig' %}

{% block title %}Tous les genres{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {# <main class="col-9 border border-light bg-white p-2"> #}
            <main class="border border-light bg-white p-2">
                {# getTotalItemCount propre à knp_paginator #}
                {# <h3>Mouvements de {{ app.user.nickname }}</h3>  #}
                <div class="ml-auto p-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                        Nb de genres total : {{ genders.getTotalItemCount }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <a href="{{ path('gender.addGender') }}" class="btn btn-outline-primary">Ajouter un genre</a>
                </div>
                    {# {{ dump(app.user) }} #}

                {# {{ dump(books) }} #}

                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            {# <th>ID</th> #}
                            <th>Nom du genre</th>
                            <th>Modifier</th>
                            <th>Supprimer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gender in genders %}

                            <tr class="table-info">
                                {# {% if movement.movement<0 %}
                                    <td class="text-danger"><strong>{{ movement.movement|number_format(2) }}<strong></td>
                                {% else %}
                                    <td class="text-success"><strong>+{{ movement.movement|number_format(2) }}<strong></td>
                                
                                {% endif %} #}
                                
                                <td>{{ gender.name }}</td>
                                {# <td>{{ movement.date.format('d/m/Y') }}</td> #}
                                <td>
                                    <a href="{{ path('gender.edit', {id: gender.id}) }}" class="btn btn-info btn-sm">Modifier</a>
                                </td>
                                <td>
                                    <a href="{{ path('gender.delete', {id: gender.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous réellement supprimer ce genre ?')">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation d-flex justify-content-center">
                    {{ knp_pagination_render(genders) }}
                </div>
            </main>
        </div>
    </div>
{% endblock %}
