{% extends 'base.html.twig' %}

{% block title %}Ajout d'un emprunt{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-3">Ajout d'un emprunt</h1>

            {# {{ dump(app) }} #}

            {{ form_start(borrowForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {{ form_row(borrowForm.borrowingPeriod, { 'label': 'Période d\'emprunt (en jours)' }) }}
                    {{ form_row(borrowForm.borrowingDate, { 'label': 'Date d\'emprunt' }) }}
                    {{ form_row(borrowForm.registeredUser, { 'label': 'Abonné' }) }}
                    

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(borrowForm) }}        
        </div>
    </div>
</section>
{% endblock %}
