{% extends 'base.html.twig' %}

{% block title %}Modifier d'un emprunt{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-3">Modifier d'un emprunt</h1>

            {# {{ dump(app) }} #}

            {{ form_start(borrowForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {{ form_row(borrowForm.borrowingPeriod) }}
                    {{ form_row(borrowForm.borrowingDate) }}
                    {{ form_row(borrowForm.registeredUser) }}
                    {{ form_row(borrowForm.copy) }}
                    

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(borrowForm) }}        
        </div>
    </div>
</section>
{% endblock %}

{# Block select2 pour modifier mes formulaires de select #}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.select2').select2( {
            theme: 'bootstrap-5'
            } );
        });
    </script>
{% endblock %}