{% extends 'base.html.twig' %}

{% block title %}Tous les emprunts{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {# <main class="col-9 border border-light bg-white p-2"> #}
            <main class="border border-light bg-white p-2">
                {# getTotalItemCount propre à knp_paginator #}
                {# <h3>Mouvements de {{ app.user.nickname }}</h3>  #}
                <div class="ml-auto p-2">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex">
                        Nb d'emprunts total : {{ borrows.getTotalItemCount }}
                        </div>
                    </div>

                    {# {{ dump(borrows) }} #}
                </div>
                <div class="mb-3">
                    <a href="{{ path('borrow.addBorrow') }}" class="btn btn-outline-primary">Ajouter un emprunt</a>
                </div>
                    {# {{ dump(app.user) }} #}

                {# {{ dump(books) }} #}

                <table class="table table-hover">
                    <thead class="table-primary">
                        <tr>
                            {# <th>ID</th> #}
                            <th>Id</th>
                            <th>Date d'emprunt</th>
                            <th>Abonné</th>
                            <th>Exemplaire</th>
                            <th>Statut</th>
                            <th>Retour</th>
                            {# <th>Supprimer</th> #}
                        </tr>
                    </thead>
                    <tbody>
                        {% for borrow in borrows %}

                            <tr class="table-info">
                                {# {% if movement.movement<0 %}
                                    <td class="text-danger"><strong>{{ movement.movement|number_format(2) }}<strong></td>
                                {% else %}
                                    <td class="text-success"><strong>+{{ movement.movement|number_format(2) }}<strong></td>
                                
                                {% endif %} #}
                                {# {{ dump(borrow) }} #}
                                <td>{{ borrow.id }}</td>
                                <td>{{ borrow.borrowingDate|date("d/m/Y") }}</td>
                                {# <td>{{ borrow.registeredUser }}</td> #}
                                <td><a href="{{ path('registeredUserOne.index', {id: borrow.registeredUser.id}) }}">{{ borrow.registeredUser }}</a></td>
                                <td>{{ borrow.copy }}</td>
                                <td>
                                {% if borrow.returned %}
                                <span class="badge bg-success">Retourné</span>
                                {% else %}
                                <span class="badge bg-danger">Emprunté</span>
                                {% endif %}
                                </td>
                                {# <td>{{ borrow.returned }}</td> #}
                                {# <td>{{ copy.book }}</td> #}
                                {# <td>{{ copy.borrows }}</td> #}
                                <td>
                                    {# <a href="{{ path('borrow.edit', {id: borrow.id}) }}" class="btn btn-info btn-sm">Modifier</a> #}
                                    {% if borrow.returned %}
                                        {{ borrow.borrowingEndDate|date("d/m/Y") }}
                                    {% else %}
                                        <a href="{{ path('borrow.return', {id: borrow.id}) }}" class="btn btn-info btn-sm" onclick="return confirm('Voulez-vous réellement confirmé le retour ?')">Enregister le retour</a>
                                    {% endif %}
                                </td>
                                {# <td>
                                    <a href="{{ path('borrow.delete', {id: borrow.id}) }}" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous réellement supprimer cet emprunt ?')">Supprimer</a>
                                </td> #}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="navigation d-flex justify-content-center">
                    {{ knp_pagination_render(borrows) }}
                </div>
            </main>
        </div>
    </div>
{% endblock %}
