{% extends 'base.html.twig' %}

{% block title %}Ajout d'un livre{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>Ajout d'un livre</h1>

            {# {{ dump(app) }} #}

            {{ form_start(bookForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {{ form_row(bookForm.title) }}
                    {{ form_row(bookForm.releaseDate) }}
                    {{ form_row(bookForm.summary) }}

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(bookForm) }}        
        </div>
    </div>
</section>
{% endblock %}
