{% extends 'base.html.twig' %}

{% block title %}Ajout d'un abonnement{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>Ajout d'un abonnement</h1>

            {# {{ dump(app) }} #}

            {{ form_start(publishingForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {{ form_row(publishingForm.title) }}
                    {{ form_row(bookForm.author, { 'label': 'Auteur(s)' }) }}
                    <small>Appuyer sur la Ctrl pour ajouter plusieurs auteurs</small>
                    {{ form_row(bookForm.releaseDate) }}
                    {{ form_row(bookForm.summary) }}
                    

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(publishingForm) }}        
        </div>
    </div>
</section>
{% endblock %}
