{% extends 'base.html.twig' %}

{% block title %}Ajout d'un abonnement{% endblock %}

{% block body %}
<section class="container">
    <div class="row mt-4">
        <div class="col">
            <h1 class="mb-3">Ajout d'un abonnement</h1>

            {# {{ dump(app) }} #}

            {{ form_start(subscriptionForm) }}

                {# {{ dump(bookForm) }} #}

                {# <fieldset class="mb-3"> #}

                    {# {{ form_row(subscriptionForm.lastName) }}
                    {{ form_row(subscriptionForm.firstName) }}
                    {{ form_row(subscriptionForm.address) }}
                    {{ form_row(subscriptionForm.zipcode) }}
                     #}
                    {# {{ form_row(authorForm.dateOfBirth|date("d/m/Y")) }} #}
                    {# {{ form_row(authorForm.dateOfBirth) }} #}
                    {# {{ form_row(registeredUserForm.nativeCountry, { 'label': 'Pays d\'origine' }) }} #}

                    

                {# </fieldset> #}
                <button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
            {{ form_end(subscriptionForm) }}        
        </div>
    </div>
</section>
{% endblock %}
